  .details .upper-block {
    background-color: rgb(17, 17, 17);
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
  }

  .details .upper-block .wrapper-middle{
    display: flex;
    flex-direction: row;
   align-items: center;
    margin: 0 50px;
  }
  
  .details .title-ul{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width: 100%;

  }
  
  .details h2{
    font-size: 3rem;
    color: white;
  
  }
  
  .details .facts{
    font-size: 18px;
    font-weight: 300;
  }
  
  .details .img-film{
    margin: 3% 0;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
  }
  
  
  .details .date {
    font-size: 18px;
    font-weight: bold;
  }

  .details .synopsis{
    margin: 5% 0;
  }
  .details .resume {
    font-weight: bold;
    font-size: 2rem;
  }
  
  
  .details p {
    font-size: 22px;
  }
 
  .details .bold-style{
    margin-right: 7px;
    font-size: 22px;
    font-weight: bold;
  }

  .details li{
    width: 100%;
    margin: 2% 0;
    list-style: none;
    font-size: 22px;
  }
  


  
  
   
  