/*Détails*/

  .details .upper-block {
    background: #f1f1f1;
    padding: 2.5% 0;
    width: 100%;
  }

  .details .middle{
    width: 100%;
    display: flex; 
    align-items: center;
    
  }
  
  .details .title-ul{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width: 100%;

  }
  
  .details h2{
    font-size: 3rem;
  
  }
  
  .details .facts{
    font-size: 18px;
    font-weight: 300;
  }
  
  .details .img-film{
   
    height: 90%;
    width: 65%;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
  }
  
  
  .details .date {
    font-size: 18px;
    font-weight: bold;
  }

  .details .synopsis{
    margin: 5% 0;
  }
  .details .resume {
    font-weight: bold;
    font-size: 2rem;
  }
  
  
  .details p {
    margin-top: 3%;
    font-size: 22px;
  }
 
  .details .bold-style{
    margin-right: 7px;
    font-size: 25px;
    font-weight: bold;
  }
  .details ul{
    padding: 2.5%;
  }
  .details li{
    display: flex;
    width: 100%;
    margin: 2% 0;
    list-style: none;
    font-size: 22px;
  }
  

/*Slider*/

  .slider {
    width: 100%;
    overflow: scroll;
  }
  .slider-container {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .slider-container img {
    height: auto;
    object-fit: cover;
  }



