

body {
  background-color: black;
  color: white;
}



.leftpartofheader {
  display: flex;
  justify-content: space-around;
  width: 700px;
}

.leftpartofheader span {
  font-size: 20px;
}

.rightpartofheader {
  display: flex;
  justify-content: space-around;
  margin-left: 900px;
  width: 300px;
}

/* Landing page */


.w {
  position: absolute;
  top: 1400px;
  left: 20px;
  display: block;
  width: 450px;
  margin: 0 auto;
}


.landing-page ul {
  list-style: none;
  display:flex;
  padding: 0px;
  gap: 20px;
}

.premieritem {
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

.deuxiemeitem {
  background-color: grey;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
}

/* section des choix des films a regarder */



.pop-netflix img {
  width: 150px;
  height: 250px;
}

.pop-netflix ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}


.landing-page {
  background-color:white;
  background-image: url(https://images7.alphacoders.com/118/thumbbig-1189470.webp);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

/* Modal */

.infos-modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.842);
  height: 113px;
  width: 200px;
  
}

.infos-modal h2{
  color: white;
}

.infos-modal li {
  list-style-type: none;
}

/*Détails films*/

.details .upper-block {
  display: flex;
  background-image: url(https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/h8gHn0OzBoaefsYseUByqsmEDMY.jpg);
  margin-bottom: 40px;
}

.details .background{
  background: rgba(0, 0, 0, 0.676);
  width: 100%;
}

.details .title-ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25%;
  top: 14%;
}

.details h2{
  font-size: 50px;

}

.details .facts{
  font-size: 18px;
  font-weight: 300;
}

.details .img-film{
  margin: 100px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
}


.details .date {
  font-weight: bold;
  font-size: 22px;
}

.details .resume {
  font-weight: bold;
  font-size: 35px;
  margin: 50px;

}


.details p {
  font-size: 22px;
  margin: 50px 50px 70px;
  
}
 .details .bottom-block{
  display: flex;

 }

 .details .bottom-block li{
  list-style-type: none;
  font-size: 24px;
  margin-right: 40px;
 }
 .details .bottom-block ul{
  margin-top: 90px;
 }

 .details .bottom-block .bold-style{
  font-weight: bold;
 }



