.results-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: scroll;
  color: black;
}

input[type="text"] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: 0.4s ease;
}
input[type="text"]:focus {
  border: 2px solid black;
  width: 100%;
}
