* {
  box-sizing: border-box;
  margin: 0;
}
.content {
  background: #f1f1f1;
  position: relative;
  height: 180vh;
}
.catalogue {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  border-collapse: collapse;
}
.pagination button {
  background: none;
  border: none;
  cursor: pointer;
}
.pagination button:hover {
  background: #f1f1f1;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20%;
  font-size: 16px;
  padding: 16px;
  background: white;
}
.movie {
  width: 20%;
  display: inline-block;
  outline: 1px solid;
}
.movie-info {
  padding: 10px;
  background: white;
}
.movie-info h2 {
  font-size: 1rem;
  min-height: 54px;
  font-weight: 500;
}
.movie-date {
  font-size: 14px;
  font-weight: 400;
}
.backdrop-img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  display: block;
}
body {
  background-repeat: no-repeat;
}
header {
  background: white;
}
.header a {
  text-transform: uppercase;
}
.header a:hover {
  font-weight: 600;
}
a {
  color: black;
  text-decoration: none;
}
.header {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  align-items: center;
  font-size: 120%;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  width: 100%;
  font-size: 3rem;
}
.margin-bot {
  margin-bottom: 40px;
}
